/* Extra small devices (portrait phones, less than 576px) */ 
@media(min-width: 320px) and (max-width: 575px) {    
	    .top-right ul li a, .top-left ul li a {
		padding-right: 4px;
		letter-spacing: 0px;
	}
	.top-right ul li a i {
		font-size: 13px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
      .topbar {
	 text-align: center;
	}
	.top-right{
	  text-align: center;
	  margin-top: 5px;
	}
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width: 991px) {
    .top-right{
	  text-align: left;
	}
	.top-right ul li a, .top-left ul li a {
		padding-right: 10px;
		font-size: 14px;
		letter-spacing: 0px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
       
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}